.datatable-orange{
    color:#fff;
    background-color:#e06000;
  }
  .datatable-orange:hover{
    color:#000;
    background-color:#e06000;
  }
  .myTable table>thead .slds-cell-fixed.slds-has-button-menu, .myTable table>thead .slds-cell-fixed.slds-has-button-menu:hover{
    background: antiquewhite;
  }